@page
@model crm.Pages.CustomerInfo.Customers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Customer.ID" />
            <div class="form-group">
                <label asp-for="Customer.Name" class="control-label"></label>
                <input asp-for="Customer.Name" class="form-control" />
                <span asp-validation-for="Customer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Apellido" class="control-label"></label>
                <input asp-for="Customer.Apellido" class="form-control" />
                <span asp-validation-for="Customer.Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Nacionalidad" class="control-label"></label>
                <input asp-for="Customer.Nacionalidad" class="form-control" />
                <span asp-validation-for="Customer.Nacionalidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Fecha_De_Nacimiento" class="control-label"></label>
                <input asp-for="Customer.Fecha_De_Nacimiento" class="form-control" />
                <span asp-validation-for="Customer.Fecha_De_Nacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Sexo" class="control-label"></label>
                <input asp-for="Customer.Sexo" class="form-control" />
                <span asp-validation-for="Customer.Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Email" class="control-label"></label>
                <input asp-for="Customer.Email" class="form-control" />
                <span asp-validation-for="Customer.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Address_Id" class="control-label"></label>
                <select asp-for="Customer.Address_Id" class="form-control" asp-items="ViewBag.Address_Id"></select>
                <span asp-validation-for="Customer.Address_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.User_Id" class="control-label"></label>
                <select asp-for="Customer.User_Id" class="form-control" asp-items="ViewBag.User_Id"></select>
                <span asp-validation-for="Customer.User_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
