@model WebApp1.Models.productos

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>productos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreProducto" class="control-label"></label>
                <input asp-for="NombreProducto" class="form-control" />
                <span asp-validation-for="NombreProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imagen" class="control-label"></label>
                <input asp-for="imagen" class="form-control" />
                <span asp-validation-for="imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descuento" class="control-label"></label>
                <input asp-for="descuento" class="form-control" />
                <span asp-validation-for="descuento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valoracion" class="control-label"></label>
                <input asp-for="valoracion" class="form-control" />
                <span asp-validation-for="valoracion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

